.col-md-12(ng-controller = "DemoCtrl")
  button.btn.btn-default(ng-click="loadData()") Load Data
  input.form-control(type="text", ng-model="dataSize", placeholder="Enter a custom data size")
  div(ng-mega-table, table-options="tableOptions")
