doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title ng-mega-table demo
    meta(name="description", content="a directive for handling large data")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href='css/vendor.min.css')
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='css/style.css')
  body(ng-app = "ngMegaTableDemo")
    include header
    block content
    script(src="js/vendor.js")
    script(src="js/ngMegaTable.js")
    script(src="js/app.js")
